@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
}

html {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  font-size: 16px;
  overflow-y: auto;
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


@media (max-width: 640px) { 
  html {
    font-size: 14px;
  }
}

body {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  --header-height: 4rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

/* Media query to target mobile devices */
@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,0.001);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.001);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    width: 2px;
    border-radius: 99999px;
  }
}


::selection {
  background: #000000;
  color: #FFF;
}

.mask-squircle {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiAgPHBhdGggZD0iTSAxMDAgMCBDIDIwIDAgMCAyMCAwIDEwMCBDIDAgMTgwIDIwIDIwMCAxMDAgMjAwIEMgMTgwIDIwMCAyMDAgMTgwIDIwMCAxMDAgQyAyMDAgMjAgMTgwIDAgMTAwIDAgWiIvPgoKPC9zdmc+);
}